@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="alert alert-info pt-2">
    Thông tin cha me của tôi
</div>

<div class="mt-2">
    Họ tên Cha: <br>
    Ngày Sinh: <br>
    Sở thích: <br>
</div>
<div class="mt-2">
    Họ tên Mẹ: <br>
    Ngày Sinh: <br>
    Sở thích: <br>
</div>